#root{
  width: fit-content;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  text-align: start;
  width: 100%;
  z-index: 100;
}

.content h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.2;
  position: relative;
}

.content h1 .static-text {
  display: inline-block;
}

.content h1 span.typing-text {
  position: absolute;
  left: 0;
  top: 100%;
  height: fit-content;
  width: fit-content;
  padding-right: 10px;
  white-space: nowrap;
  border-right: 6px solid #fff;

  overflow: hidden;
  animation: typingAnimation 3s steps(40) forwards;
}

.content h1 .highlight-green {
  color: #02ff6b;
}

.content h1 .highlight-red {
  color: #ff2429;
}

.description {
  font-size: 16px;
  color: #fff;
  left: 50%;
  width: 40vw;
  margin-top: 7rem;
}

.button-container {
  display: flex;
  left: 7%;
  position: absolute;
  justify-content: flex-start;
  margin-top: -177px;
}

.button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 30px;
  margin-right: 50px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #000;
  color: #fff;
}

@media (max-width: 767px) {
  .container {
    max-width: 88%;
  }

  .content {
    top: 30%;
  }

  .description {
    width: 80vw;
    margin-top: 5rem;
  }

  .video-background video {
    object-position: top;
  }
}

@media (max-width: 576px) {
  .content {
    top: 25%;
  }

  .description {
    width: 90vw;
    margin-top: 5rem;
    font-size: 48px;
    text-align: center;
  }

  .video-background video {
    object-position: center;
  }

  .content h1 span.typing-text {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    animation: typingAnimation 3s steps(40) forwards;
    font-size: 55px;
  }
}
