.services-container {
    height: 100%;
    width: 100%;
 background-color: #fff; ;
    z-index: -1;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px; /* Adjust the margin as per your requirements */
  }
  
  .card {
    width: 350px; /* Increase the width of the card */
    height: 350px; /* Increase the height of the card */
    padding: 20px;
    margin: 50px;
    border-radius: 8px;
    background-color: #001529;
   box-shadow:   9px 8px 21px -1px rgba(243, 16, 16, 0.5);
   transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .card:hover {
    transform: scale(1.2); /* Increase the size on hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Add shadow effect on hover */
  }
  .card h3 {
    color:#fff;
    font-size: 24px; /* Increase the font size of the title */
    margin-bottom: 10px;
    text-align: center;
  }
  
  .card p {
    color: #fff;
    font-size: 18px;
    text-align: start;
    margin: 20px;/* Increase the font size of the description */
  }
  .custom-services-heading {
    text-align: center;
    color: black;
    font-size: 48px;
    padding-top: 65px;
  }
  .services-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 20px;

  }
  
  .services-icon svg {
    width: 35px;
    height: 35px;
    box-shadow: 0px 0px 15px 7px #007bff;

  }
  